.content{
  table {
    width: 100%;
    border: none;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
    max-width: calc(100% - 2em);
    margin: 1rem 0;
    overflow: hidden;
    text-align: left;
    vertical-align: middle;
    td, th {
      padding: 1rem;
    }

    th {
      background-color: $afmablue;
      font-weight: 700;
      color: $white;
    }

    tr {
      &:nth-child(2n+1) { background-color: $white; }
      &:nth-child(2n) { background-color: $videobg; }
    }
  }

  .afma-portfolio-col-container{
    font-family: $font-family3;
    text-transform: uppercase;
    @extend .sustainability-bar;


    .field-name-field-feature-image{

      img{
        width: 350px;
        height: 282px;
        margin-top: .5rem;
        background-color: $white;
        box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.1);
      }
    }

    .paragraphs-item-afma-species-catch-limit-count{
      text-align: left;
      padding: 2rem;
      background-color: #ffffff;
      box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.1);
      margin-top: 1.5rem;
    }
    .field-name-field-afma-sclc-title{
      color: $aqua;
      font-size: $font-size-base;
    }
    .field-name-field-afma-sclc-count-num{
      font-size: $h1-font-size;
      padding-top: .5rem;
      text-transform: none;
    }
    .field-name-field-afma-sbar-title{
      color: $aqua;
      padding-top: 1rem;

    }


    > .paragraphs-item-afma-sustainability-status-bar{
      text-align: left;
      padding: 2rem;
      background-color: #ffffff;
      box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.1);
      margin-top: 1.5rem;
      @extend .sustainability-bar;

      .field-name-field-afma-sbar-title{
        color: $aqua;
        font-size: $font-size-base;
        padding-top: 0;
      }
    }
  }


  .field-name-field-feature-image{
    padding-top: 1rem;
  }

  .field-name-body{
    margin-top: 2rem;
    .x-content-band{
      .x-nav{
        @extend .nav;
        @extend .nav-tabs;
        .x-nav-tabs-item{
          @extend .nav-item;
          a{
            @extend .nav-link;
          }
        }
      }
    }
  }
}