.slick-slide img {
  width: 100%;
  height: auto;
}
ul.slick-slider {
  margin: 0;
  padding: 0;

  .slick-prev {
    left: 15px;
    z-index: 999;
  }

  .slick-next {
    right: 15px;
    z-index: 999;
  }
}

.field-name-field-target-species-parag{
  .paragraphs-item-afma-target-species{
    margin-bottom: 1rem;
  }
  .field-name-field-afma-sbar-title{
    color: $lightblue;
    margin-top: 1rem;
  }
  .paragraphs-item-afma-sustainability-status-bar{
    font-family: $font-family3;
    text-transform: uppercase;
    @extend .sustainability-bar;
  }
  .vocabulary-sustainability-status{
    color: $white;
  }
}