.footer{
  background-color: $black;
  border-bottom: 1px solid $footer-border;
  .explore-the-site{
    padding: 2em;
    text-align: center;
    a{
      color: $white;
      text-transform: uppercase;
      font-size: $h5-font-size;
      i{
        padding-right: .5em;
        padding-left: .5em;
      }
    }
  }
  .explore-the-site-link{
    &.explore-open {
      .fas,.fa-angle-down::before {
        transform: rotate(180deg);
      }
    }
  }
  .region-footer{
    display: none;
    padding: 2em;
    .row{
      .col-md-4{
        list-style: none;
        font-size: 1.2rem;
      }
      li{
        &:before{
          color: $white;
        }
        a{
          color: $white;
          &:hover{
            color: $white !important;
          }
        }
        .menu{
          padding-left: 1rem;
          a{
            font-size: $font-size-base;
          }
          li{
            list-style: none;
          }
        }
      }
    }
  }

}

.footer-menu{
  background-color: $black;
  padding: 50px 0;
  .footer-bottom-stay-connected{
    color: $afmagray;
    font-size: $h5-font-size;
  }
  .social-links{
    a{
      color: $afmagray;
      &:hover{
        color: $white;
      }
    }

  }
  .footer-bottom-menu{
    float: right;
    text-align: right;

    .menu{
      display: inline-flex;
      margin-left: 0;
      padding-left: 0;

      li {
        margin-left: 0;
        padding-left: 0;
        list-style: none !important;
        &.leaf {
          padding-right: 1em;
        }
        a {
          color: $white;
        }
      }
    }
  }
}
