#skip-link {
  text-align: center;
}

.translate-container {
  display: none;
}
.mm-menu_offcanvas {
  display: none;
}

.header {

  .block-superfish {
    .sf-main-menu {

      li:hover > ul {
        top: 3.75rem;
        border-top: .01rem solid $nav-bg;
      }

      .sf-depth-1 {
        & > a {
          padding: 1.25em .5em 1em 0.5em;
          &:hover {
            text-decoration: none;
            color: $white;
            background-color: $afmagray;
          }
        }
        & > ul {
        padding-left: 0;
        margin-left: 0;
          & > li {

            a {
              padding: 1em 1.5em;
              font-size: 0.9em;
              &:hover {
                text-decoration: none;
                color: $white;
                background-color: $afmagray;
              }
            }
          }
        }
      }
    }
  }

  position: relative;
  z-index: 2;
  .nav-bg {
    background-color: $nav-bg;
    .sf-menu {
      .sf-single-children-4 {
        ul {
          min-width: 250px;
        }
      }
    }
    li {
      padding: 0;

      a {
        color: $charcoal;
      }
      ul {
        background-color: $nav-bg;
        padding-left: 20px;
        li {
          .sf-depth-2 {
            padding-top: 10px;
          }
          .first {
            padding-left: 40px;
            a {
              padding-left: 10px;
            }
          }
        }
      }
    }

    .menuparent {
      > a {
        &:before {
          display: inline-block;
          margin-right: .255em;
          vertical-align: 3px;
          content: '\f078';
          font-family: 'Font Awesome 5 Pro';
          font-weight: 300;
          font-size: 11px;
          padding-right: 5px;
        }
      }
    }
  }
  .top {
    padding: $spacer 0;
    .afma-logo {
      width: 435px;
      height: 98px;
    }
    .afma-header-crimfish-hotline {
      padding-top: 20px;
      padding-left: 6.7rem;
    }
    .p-info {
      font-weight: 700;
    }
    .afma-header-hotline-link {
      font-size: 23px;
      font-weight: 700;
      padding-left: 20px;
      color: $lightblue !important;
    }
    .afma-header-upper-links-container {
      padding-top: 30px;
      .menu{
        display: inline-flex;
        li.leaf {
          list-style: none !important;
          a {
            color: $charcoal;
          }
        }
      }
    }

    form {
      vertical-align: top;
      margin-left: $spacer*2;
      white-space: nowrap;
      float: right;
    }
    #search-block-form {
      width: 100%;
      max-width: 445px;
      padding-top: 10px;
      & > div {
        margin-bottom: 0;
        .form-control {
          background-color: $body-bg;
          margin-bottom: 0;
        }
      }
    }
  }
  .justify-content {
    justify-content: space-between;
  }

  .navbar {
    padding: 0;
    font-size: 18px;
  }
}


.header .navbar-nav .nav-item .dropdown-menu .menu .leaf{
  white-space: inherit;
}

// arrow bouncing stuff
.bounce {
  -moz-animation: bounce 3s infinite;
  -webkit-animation: bounce 3s infinite;
  animation: bounce 3s infinite;
}
@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-15px);
    transform: translateY(-15px);
  }
  60% {
    -moz-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
  60% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
  60% {
    -moz-transform: translateY(-8px);
    -ms-transform: translateY(-8px);
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}

#to-top {
  background: $aqua;
  // border: 3px solid $colour-grey-dark;
  border-radius: 3px;
  bottom: 5px;
  color: $white;
  cursor: pointer;
  display: none;
  filter: alpha(opacity=60);
  opacity: .6;
  height: 55px;
  padding-top: 15px;
  position: fixed;
  right: 5px;
  text-align: center;
  width: 55px;
  z-index: 14;

  &:active,
  &:focus,
  &:hover {
    filter: alpha(opacity=100);
    opacity: 1;

    i::before {
      margin-top: 3px;
      transform: scale(1.6);
    }
  }

  i::before {
    margin-top: 4px;
    transform: scale(1.1);
    transition: transform .3s, margin-top .3s * 2;
  }
}