.tabs.primary {
  border: none;
  @extend .nav;
  @extend .nav-tabs;

  li {
    @extend .nav-item;
    margin-right: -.5rem;


    &.active {
      a{
        border-top: 1px solid #dee2e6;
        border-right: 1px solid #dee2e6;
        border-left: 1px solid #dee2e6;
        border-radius: .25rem .25rem 0 0;

        &:before {
          content: '';
        }
      }
    }

    a {
      @extend .nav-link;
      padding: .5rem .75rem;
      border: none;
      background-color: transparent;
    }
  }

  li:not(.active) {
    a {
      color: #25a1db;
      border-bottom: 1px solid #dee2e6;
      &:hover {
        color: #4267b8;
        border-top: 1px solid #dee2e6;
        border-right: 1px solid #dee2e6;
        border-left: 1px solid #dee2e6;
        border-radius: .25rem;
        background-color: transparent;
      }
    }
  }
}

.block.block-workbench.contextual-links-region{
  margin-top: -1rem;

  .content{
    .workbench-info-block{
      padding: 1rem 1rem;
      line-height: 2;
    }
  }
}

.block.block-system{
  padding: 1rem 1rem;
}

.system-alert {
  .messages {
    background-image: none;
    border: none;
    border-radius: 0;
    margin: 0;
    @extend .alert;

    ul {
      @extend .container;
    }
  }
  .error {
    @extend .alert-danger;
  }

  .status {
    @extend .alert-success;
  }

  .warning {
    @extend .alert-warning;
  }
}

input[type="submit"] {
  @extend .btn;
  @extend .btn-primary;
  font-family: inherit;
  padding-top: .5rem;
  padding-bottom: .5rem;
}