// Framework
//
@import 'variables';
@import '../../node_modules/bootstrap/scss/bootstrap';

// Vendors
//
@import '../../node_modules/jquery.mmenu/dist/jquery.mmenu.all.css';
@import '../../node_modules/slick-carousel/slick/slick.scss';

// Imports
//
@import 'mixins';
@import 'base';
@import 'colours';
@import 'theme-colors';
@import 'style-guide';
@import 'keyframes';
@import 'header';
@import 'banner';
@import 'quick-links';
@import 'signposts';
@import 'cta';
@import 'news';
@import 'footer';
@import 'mmenu';
@import 'pagination';
@import 'homepage';
@import 'system';
@import 'content';

body{
  overflow-x: hidden;
}

// Responsive
//
@import 'responsive';
